body {
  font-size: 150%;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

main div {
  color: white;
  overflow: auto;
}

video{
  object-fit: initial;
  width: 80%;
}
