body {
  font-size: 150%;
  font-family: sans-serif;
  padding: 20px;
}

main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

main div {
  color: white;
  overflow: auto;
}

img {
  width: 90%;
  height: 90%;
}
